*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: khaki;
}

.header {
  background-color: lawngreen;
  background-image: linear-gradient(rgb(166, 255, 185), hotpink);
  height: 18rem;
  padding: 1.5rem;
}

.content-container {
  max-width: 80rem;
  margin: 0 auto;
}

.nav {
  /*  background-color: rgb(255, 230, 0); */
  background-image: linear-gradient(
    rgba(255, 105, 180, 0),
    rgba(255, 0, 43, 0.137)
  );
  height: 15rem;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 50%;
  display: block;
}

.main-arena-title {
  font-size: 1.6rem;
  margin: 0 auto;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 0.8rem;
  color: rgb(126, 0, 243);
  background-color: rgba(0, 221, 210, 0.137);
  text-align: left;
  display: inline-block;
  width: 100%;
}

.nav-link {
  display: inline-block;
  font-size: 3rem;
  height: 24%;
  width: 24%;
  padding: 2.6rem;
  text-align: center;
}

.nav-link a {
  text-decoration: underline overline wavy;
  color: rgb(60, 255, 158);
  text-shadow: 1px 1px 1px steelblue;
}

.background1 {
  background-image: linear-gradient(hotpink, white);
}

.main-blob {
  padding: 3rem;
}

.blob-text {
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(201, 164, 0, 0.753);
  text-shadow: 1px 1px 1px rgb(136, 255, 0), 2px 2px 2px rgb(0, 0, 0);
  line-height: 2.7rem;
}
